<section class="home-app">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="seach-city-section">
          <h5>Jhon Smith</h5>
          <a href="javascript:void(0)" class="btn btn-primary"
            >https//github/smithjohn</a
          >
          <div class="search-field">
            <mat-form-field appearance="outline">
              <mat-label>Search City</mat-label>
              <input matInput #cityInput maxlength="256" placeholder="Search" />
              <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
            <button
              (click)="fetchWeather(cityInput.value)"
              mat-flat-button
              color="primary"
            >
              {{ displayWeather }}
            </button>
          </div>

          <div class="data-table">
            <mat-progress-bar
              *ngIf="isFetching"
              mode="indeterminate"
            ></mat-progress-bar>

            <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="property">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element[0] }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="value">
                <mat-header-cell *matHeaderCellDef> Details </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element[1] }}
                </mat-cell>
              </ng-container>

              <mat-header-row
                *matHeaderRowDef="displayedColumns"
              ></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayedColumns"
              ></mat-row>
            </mat-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
