<section class="home-app">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="seach-city-section">
          <div class="search-field">
            <input
              class="search-city"
              #cityInput
              maxlength="256"
              placeholder="Search"
            />
            <button
              class="search-btn"
              (click)="fetchWeather(cityInput.value)"
              color="primary"
            >
              Search City
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="weather__body">
      <h1 class="weather__city">{{ country }}</h1>
      <div class="weather__datetime">{{ weatherDate }}</div>

      <div class="weather__icon"></div>
      <p class="weather__temperature">{{ temp }}</p>
      <p class="description">{{ weatherDescription }}</p>
    </div>

    <div class="weather__info">
      <div class="weather__card widget-container">
        <div class="background">
          <div class="Circle1"></div>
          <div class="Circle2"></div>
          <div class="Circle3"></div>
          <div class="content">
            <h1 class="Condition">
              <i class="fa-solid fa-temperature-full"></i> Real Feel
            </h1>
            <h1 class="Temp">{{ reelFeal }}</h1>

            <h1 class="Location">
              <i class="material-icons locationIcon">place</i> {{ country }},
              {{ sysCountry }}
            </h1>
          </div>
        </div>
      </div>

      <div class="weather__card widget-container">
        <div class="background">
          <div class="Circle1"></div>
          <div class="Circle2"></div>
          <div class="Circle3"></div>
          <div class="content">
            <h1 class="Condition">
              <i class="fa-solid fa-droplet"></i> Humidity
            </h1>
            <h1 class="Temp">{{ humidity }}</h1>

            <h1 class="Location">
              <i class="material-icons locationIcon">place</i> {{ country }},
              {{ sysCountry }}
            </h1>
          </div>
        </div>
      </div>

      <div class="weather__card widget-container">
        <div class="background">
          <div class="Circle1"></div>
          <div class="Circle2"></div>
          <div class="Circle3"></div>
          <div class="content">
            <h1 class="Condition"><i class="fa-solid fa-wind"></i> Wind</h1>
            <div class="wind-container">
              <span class="wind-item">
                <label>Deg</label>
                <p class="weather__realfeel" id="reelFeal">{{ windDeg }}</p>
              </span>
              <span class="wind-item">
                <label>Gust</label>
                <p class="weather__realfeel" id="reelFeal">{{ windGust }}</p>
              </span>
              <span class="wind-item">
                <label>Speed</label>
                <p class="weather__realfeel" id="reelFeal">{{ windSpeed }}</p>
              </span>
            </div>

            <h1 class="Location">
              <i class="material-icons locationIcon">place</i> {{ country }},
              {{ sysCountry }}
            </h1>
          </div>
        </div>
      </div>

      <div class="weather__card widget-container">
        <div class="background">
          <div class="Circle1"></div>
          <div class="Circle2"></div>
          <div class="Circle3"></div>
          <div class="content">
            <h1 class="Condition">
              <i class="fa-solid fa-gauge-high"></i> Pressure
            </h1>
            <h1 class="Temp">{{ pressure }}</h1>
            <h1 class="Location">
              <i class="material-icons locationIcon">place</i> {{ country }},
              {{ sysCountry }}
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
